.cardview_infocard{
    display: grid;
    place-items: center;
}

.cardview_center{

    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 30px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 50px;
}

.cardview_center>img{
    width: 100%;
    object-fit: contain;
}

.cardview_center>h1{
    font-weight: 600;
    font-size: 2rem;
    margin-top: 30px;
}

.cardview_center>p{
    margin-top: 20px;
}


@media screen and (max-width: 540px) {
    .cardview_center>h1{
        font-weight: 600;
        font-size: 1.5em;
        margin-top: 30px;
    }
    
    
  }